#advanced {
    color: rgb(212, 0, 0);
    margin-left:45px;
    margin-top:42px;
    margin-bottom: 45px;
    font-size: 20px;
    font-family: Arial, sans-serif;
}

.advanced {
    font-family: Arial, sans-serif;
}

div.form-group {
    // padding: 20px;
    margin: 15px 30px auto;
    // text-align: left;
}

div.links {
    text-align: right;
    font-size: small;
    padding-right: 35px;
    padding-top: 20px;
}

.links a{
    color: black;
}

.form-group {
    font-size: 13px;
}
div.advanced_button {
    margin-left: 925px;
  }
  
// .form-group button:hover {
// color: black;
// border: 1px solid #c4c4c4;
// }

// input.form-control {
//     border-radius: 70px;
//     height: 45px;
// }

// .form-control:hover {
//     box-shadow: 0px 1px 5px #999;;
// }